body {
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    background-size: 100%;
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card {
    background-color: #ffff;
    border-radius: 1rem;
    max-width: 375px;
    text-align: center;
    position: relative;
}

.card img {
    max-width: inherit;
    border-radius: 1rem 1rem 0 0;
}

.container {
    padding: 0 2rem 0 2rem;
}

.container h1 {
    font-size: 27px;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}

.p {
    font-size: 16px;
    font-weight: 500;
    color: hsl(224, 23%, 55%);
    padding-top: 1rem;
}

.price {
    font-size: 16px;
    background: hsl(224, 23%, 95%);
    border-radius: 10px;
    width: 100%;
    height: 90px;
    position: relative;
}

.price img {
    float: left;
    margin: 26px 20px;
}

.price .p1 {
    float: left;
    margin: 25px -11px;
    font-weight: 700;
}

.price .p2 {
    color: hsl(224, 23%, 55%);
    float: left;
    margin: 50px -75px;
}

.price .p3 {
    float: right;
    margin: 36px 20px;
    font-weight: 700;
}

.container button {
    background: hsl(245, 75%, 52%);
    color: #ffff;
    width: 100%;
    height: 45px;
    margin: 23px 0px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: 900;
}

.cancel {
    color: hsl(224, 23%, 55%);
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 24px;
}

.p3:hover {
    text-decoration: none;
    opacity: 0.7;
    cursor: pointer;
}

.container button:hover{
    opacity: 0.7;
    cursor: pointer;
}
.cancel:hover{
    color: hsl(223, 47%, 23%);
    cursor: pointer;
}